.container {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;

    align-items: center;
}

/* DROPDOWN */
select {
    width: 200px;

    align-self: self-start;

    font-size: 32px;
    color: #9B331B;

    border: none;
    border-bottom: 4px solid #9B331B;

    background-color: #F6DFB1;

    /* Creating a unique arrow: */
    /* --Hide default arrow for chrome, safari and firefox */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    /* --Receive the unique icon, change its size and move it to the right */
    background: url('data:image/svg+xml,%3Csvg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 10 6"%3E%3Cpath fill="brown" d="M0 0h10L5 6z"/%3E%3C/svg%3E') no-repeat right 10px center;
    background-size: 16px;
    padding-right: 40px;
}

option {
    background-color: #F6DFB1;
}

.pies {
    width: auto;
    height: auto;

    display: flex;
    flex-direction: row;

    margin-top: 50px;
}

.pieChart {
    width: 450px;
    height: 450px;
}

.feedbackHolder {
    background-color: #D75B30;
    color: white;

    width: 70vw;
    height: auto;

    padding: 20px;

    border-radius: 15px;

    margin-top: 50px;
}

@media (max-width: 975px) {
    .pies {
        flex-direction: column;

        margin-top: 25px;
    }

    .pieChart {
        width: 300px;
        height: 300px;
    }

    select {
        width: 150px;
        margin-top: 25px;

        font-size: 28px;

        align-self: center;
    }
}